<!DOCTYPE html>
<html lang="pt-br">

<!-- ========================HEAD==============================HEAD======================== -->
  
<%- include('partials/head',{links:['header','detalhesProduto','footer']}) %>

<!-- ========================BODDY=============================BODDY======================== -->

<body>

<!-- ========================HEADER===========================HEADER======================== -->

<%- include('partials/header') %>

<!-- ========================MAIN==============================MAIN======================== -->

<main class="corpo"> 

<section class="firstbloco">
  <div class="img-nameProduct">
    <div class="product">
      <img class="img-pat" src="/img/<%= produto.imagem %>" alt="racaoSeca">
      <p class="information"><%= produto.descricao %></p>
      </div>
      <div class="informacao">
        <h2><%= produto.nome %></h2>
         
      </div>

    </div>
    
    <section class="content">
      <form class="tamanho">
        <select id="peso">
          <option id="option" selected disabled>Selecione o tamanho</option>
          <option id="tamanho" selected disabled>Tamanho</option>
          <option value="1">1Kg</option>
          <option value="3">3Kg</option>
          <option value="15">15Kg</option>
          <option value="20">20Kg</option>
        </select>
        <br><br>
       </form>

       <div class="preco">
        
        <h1><%= produto.preco %> </h1>
        
       </div>

       <div class="container">
        <form class="unidades">
          <select id="unid">
            <option selected disabled>Quantidade</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        
          <button type="submit">Comprar</button>
        </form>
       </div>

  </section>
</main>

<!-- ========================FOOTER========================FOOTER======================== -->

<%- include('partials/footer') %>

<!-- ========================FOOTER========================FOOTER======================== -->

</body>
</html>