<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">.
    <title>Buddy Pet - Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form action="/produtos/editar/<%= produto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for="categoria">Editar a categoria do produto:</label>
        <br>
        <input type="text" id="categoria" name="categoria" value="<%= produto.categoria %>" placeholder="Digite a categoria do Produto" required>
        <br>
        <br>
        <label for="tipoProduto">Editar o tipo do produto:</label>
        <br>
        <input type="text" id="tipoProduto" name="tipoProduto" value="<%= produto.tipoProduto %>" placeholder="Digite o tipo do Produto" required>
        <br>
        <br>
        <label for="nome">Editar o nome do produto:</label>
        <br>
        <input type="text" id="nome" name="nome" value="<%= produto.nome %>" placeholder="Digite o nome do Produto" required>
        <br>
        <br>
        <label for="preco">Editar o preço do produto:</label>
        <br>
        <input type="number" id="preco" name="preco" value="<%= produto.preco %>" placeholder="Digite o preço do Produto" required>
        <br>
        <br>
        <label for="descricao">Editar a descrição do produto:</label>
        <br>
        <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
        <br>
        <br>
        <label for="imagem">Anexe uma nova imagem do produto:</label>
        <br>
        <input type="file" name="imagem" value="<%= produto.imagem %>">
        <br>
        <br>
        <button type="reset">Limpar Campos</button>
        <br>
        <br>
        <button type="submit">Salvar Edição</button>
    </form>
</body>
</html>