<!DOCTYPE html>
<html lang="pt-br">

<!-- ========================HEAD========================HEAD=============================== -->
  
<%- include('partials/head',{links:['header','home','footer','animation']}) %>

<!-- ========================BODDY========================BODDY============================== -->

<body>

  <!-- ========================HEADER========================HEADER======================== -->

  <%- include('partials/header') %>

  <!-- ==========================MAIN============================MAIN========================== -->

  <main>
    <section class="galery">
      <div class="promoções">
        <h1>Favoritos dos buddypets com até 40% OFF</h1>
        <i class="fa-solid fa-heart"></i>
      </div>
      
      <!-- ==========================BANNER============================BANNER========================== -->

      <%- include('partials/banner') %>

      <!-- ==========================BANNER============================BANNER========================== -->

    </section> 

    <!-- ==========================PRODUCTS============================PRODUCTS========================== -->

    <section class="produtos">
      <div class="ofertas"><h1>Mais ofertas imperdíveis</h1></div>
      <div class="imagens">
        <% ofertas.forEach(produto => { %>
          <button type="submit"><a href=""><img src="<%= produto.imagem %>" alt=""><p><%= produto.nome %></p></button></a>
        <% }) %>
      </div>
      
      <div class="vendidos"><h1>Os mais vendidos</h1></div>
      <div class="icones">
        <% maisVendidos.forEach(produto => { %>
          <button type="submit"><a href=""><img src="<%= produto.imagem %>" alt=""><p><%= produto.nome %></p></button></a>
        <% }) %>
      </div>
    </section>
  </main>

  <!-- ========================FOOTER========================FOOTER======================== -->

  <%- include('partials/footer') %>

  <!-- ========================FOOTER========================FOOTER======================== -->

</body>
</html>
