<!DOCTYPE html>
<html lang="pt-BR">

<!-- ========================HEAD=============================HEAD============================= -->
  
<%- include('partials/head',{links:['header','sidebar','cachorros','animation','footer']}) %>

<!-- =============================BODDY========================BODDY================================ -->

<body>
  
  <!--=============================HEADER==============================HEADER=============================== -->

  <%- include('partials/header') %>
    
  <!--==============================MAIN===============================MAIN==================================== -->
  
  <main>
    <div class="contain">

      <!--==============================FILTER===============================FILTER==================================== -->

      <%- include('partials/filter') %>

      <!--==============================FILTER===============================FILTER==================================== -->
    
      <div class="cachorros">
        <% produtos.forEach(produto => { %>
          <h4><%= produto.titulo %></h4>
          <p><%= produto.texto %></p>
        <% }) %>
        
      </div>

      <div class="produtos">
        <div class="imagens">

          <% produtos.forEach(produto => { %>
            <button type="submit"><a href="/produtos/<%= produto.id %> "><img src=<%= produto.imagem %> alt=""><p><%= produto.nome %></p></a></button>
          <% }) %>

        </div>
      </div>
     </div>
  </main>

  <!--===============================FOOTER===============================FOOTER============================== -->

  <%- include('partials/footer') %>

  <!--===============================FOOTER===============================FOOTER============================== -->

</body>
</html>

