<!DOCTYPE html>
<html lang="pt-BR">

<!-- ========================HEAD=============================HEAD============================= -->

<%- include('partials/head',{links:['header','sidebar','produtos','footer']}) %>

  <!-- =============================BODDY========================BODDY================================ -->

  <body>

    <!--=============================HEADER==============================HEADER=============================== -->

    <%- include('partials/header') %>

      <!--==============================MAIN===============================MAIN==================================== -->

      <main>
        <div class="contain">

          <!--==============================FILTER===============================FILTER==================================== -->

          <%- include('partials/filter') %>

            <!--==============================DESCRIPTION===============================DESCRIPTION==================================== -->

            <div class="products">
              <h4>
                <%= title %>
              </h4>
              <p>
                <%= description %>
              </p>
            </div>

            <!--==============================PRODUCTS===============================PRODUCTS==================================== -->

            <div class="produtos">
              <div class="imagens">
                <% produtos.forEach(produto=> { %>
                  <button type="submit"><a href="/produtos/detalhesProduto/<%= produto.id_produto %> "><img
                        src="/img/<%= produto.imagem %>" alt="">
                      <p id="nome">
                        <%= produto.nome %>
                      </p>
                      <p id="descricao">
                        <%= produto.descricao %>
                      </p>
                      <p id="preco">
                        R$ <%= produto.preco %>
                      </p>
                    </a></button>
                  <% }) %>
              </div>
            </div>
        </div>
      </main>

      <!--===============================FOOTER===============================FOOTER============================== -->

      <%- include('partials/footer') %>

        <!--===============================FOOTER===============================FOOTER============================== -->

  </body>

</html>