<div class="sidebar">
    <h4>Filtro</h4>
    <a href="<%= url%>/racoes"><i class="fa-solid fa-drumstick-bite"></i><span>Ração</span></a>
    <a href="<%= url%>/petiscos"><i class="fa-solid fa-bone"></i><span>Petiscos</span></a>
    <a href="<%= url%>/remedio"><i class="fas fa-capsules"></i><span>Farmácia</span></a>
    <a href="<%= url%>/coleiras"><i class="fas fa-blind"></i><span>Coleiras e Guias</span></a>
    <a href="<%= url%>/brinquedos"><i class="fas fa-futbol"></i><span>Brinquedos</span></a>
    <a href="<%= url%>/casinhas"><i class="fas fa-home"></i><span>Casas e Camas</span></a>
    <a href="<%= url%>/acessorios"><i class="fas fa-gear"></i><span>Acessórios</span></a>
  </div>